@font-face {
  font-family: 'pieces_of_eightregular';
  src:  url('../../assets/webfontkit-20220415-000116/pieces_of_eight-webfont.woff2') format('woff2'),
  url('../../assets/webfontkit-20220415-000116/pieces_of_eight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.contain{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'pieces_of_eightregular', 'Arial Narrow', Arial, sans-serif;
  &__image{
    img{
      width: 250px;
      height: 200px;
      margin-right: 50px;
      border-radius: 10px;
    }
  }
  &__header{
    width: 400px;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    align-items: center;
  }
  &__cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: auto;
    margin-top: 60px;
    gap: 30px;
    margin-bottom: 50px;
    width: 70%;
  }
}
@media only screen and(max-width: 768px){
  .contain{
    &__cards{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 25px;
      width: 80%;
    }
  }
}
@media only screen and(max-width: 576px){
  .contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__image{
      img{
        width: 200px;
        height: 150px;
        margin-bottom: 20px;
        margin-left: 60px;
      }
    }
    &__header{
      width: 200px;
    }
    &__cards{
      gap: 30px;
    }
  }
}