@font-face {
  font-family: 'pieces_of_eightregular';
  src:  url('../../assets/webfontkit-20220415-000116/pieces_of_eight-webfont.woff2') format('woff2'),
  url('../../assets/webfontkit-20220415-000116/pieces_of_eight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.like {
  font-family: 'pieces_of_eightregular', 'Arial Narrow', Arial, sans-serif;
  margin: 3rem 0;
  min-height: auto;
  width: 100%;
  &__one{
    text-align: center;
    font-size: 20px;
  }
  &__two{
    text-align: center;
    font-size: 20px;
  }
  &__three{
    text-align: center;
    font-size: 20px;
  }
}

@media only screen and(max-width: 768px){
  .like{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__one{
      padding: 0 40px;
      font-size: 23px;
      margin-bottom: 30px;
      h1{
        font-size: 35px;
      }
      h4{
        font-size: 28px;
      }
    }
    &__two{
      padding: 0 40px;
      font-size: 23px;
      margin-bottom: 30px;
      h1{
        font-size: 35px;
      }
      h4{
        font-size: 28px;
      }
    }
    &__three{
      padding: 0 40px;
      font-size: 23px;
      h1{
        font-size: 35px;
      }
      h4{
        font-size: 28px;
      }
    }
  }
}
@media only screen and(max-width: 768px){
  .like{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__one{
      padding: 0 10px;
      font-size: 18px;
      margin-bottom: 30px;
      text-align: justify;
      text-indent: 20px;
      h1{
        font-size: 25px;
      }
      h4{
        font-size: 20px;
      }
    }
    &__two{
      padding: 0 10px;
      font-size: 18px;
      margin-bottom: 30px;
      text-align: justify;
      text-indent: 20px;
      h1{
        font-size: 25px;
      }
      h4{
        font-size: 20px;
      }
    }
    &__three{
      padding: 0 10px;
      font-size: 18px;
      text-align: justify;
      text-indent: 20px;
      h1{
        font-size: 25px;
      }
      h4{
        font-size: 20px;
      }
    }
  }
}

