@font-face {
  font-family: 'pieces_of_eightregular';
  src:  url('../../assets/webfontkit-20220415-000116/pieces_of_eight-webfont.woff2') format('woff2'),
  url('../../assets/webfontkit-20220415-000116/pieces_of_eight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.signup {
  padding-top: 50px;
  font-family: 'pieces_of_eightregular', 'Arial Narrow', Arial, sans-serif;
  width: 90%;
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  .headline{
    text-align: center !important;
    letter-spacing: 5px;
  }
  .description {
    color: var(--accent-color3);
  }
}

@media only screen and(max-width: 768px){
  .signup{
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}
