.cards {
  margin-top: 80px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  &__image {
    display: flex;
    flex-wrap: wrap;
      justify-content: space-around;
      flex-direction: row;
      gap: 5rem;
    }
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .super-rare {
    padding: 1rem 2rem;
    width: 100vw;
    .cards {
      overflow: auto;
      justify-content: flex-start;
      gap: 2rem;
      padding-left: 1.5rem;
      &::-webkit-scrollbar {
        display: none;
      }
      .card {
        zoom: 0.7;
      }
    }
  }
}
