.box{
    margin-top: 85px;
    z-index: 5;
    box-shadow: -2px 0px 24px 18px rgba(240,230,230,0.77);
    -webkit-box-shadow: -2px 0px 24px 18px rgba(240,230,230,0.77);
    -moz-box-shadow: -2px 0px 24px 18px rgba(240,230,230,0.77);
    border-radius: 10px;
    height: 500px;
    // min-width: auto;
    // width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    // background-attachment: inherit;
    background-image: url('../../assets/jumbotron.png');
    img{
    }
}
@media only screen and(max-width : 768px){
    .box{
        background-size: contain;
        background-repeat: no-repeat;
        height: 280px;
        // width: 100vw;
        // min-height: auto;
        // height: 280px;
    }
}
@media only screen and(max-width: 576px){
    .box{
        background-image: url('../../assets/jumbotron.png');
        background-size: cover;
        margin-top: 123px;
        // margin-left: 10px;
        // min-height: auto;
        height: 130px;
        // margin-top: 123px;
        // width: 100vw;
        width: 100vw;
        // max-width: 300px;
        // object-fit: cover;
        // object-position: center;
    }
}